extends layout
block content
	div.container#blog-content
		div.row
			div.col-md-8
				h1.page-header About

				section
					| Hello, I am an Irish web-developer living in London.
					| This thing that you are looking at is my homepage. I've an interest in web technologies and am always trying to improve my stack.
					| Currently I work mainly with angular.js and node.js