extends layout
block content
	div.container#blog-content
		div.row
			div.col-md-8
				h1.page-header Contact

				section.container
					form#contact(action="",method="post")
						h3 Quick Contact
						h4 Please note I am not looking for job opportunities right now
						fieldset
							input(placeholder="Your name", type="text", tabindex="1", required, autofocus)
						fieldset
							input(placeholder="Your Email Address",type="email",tabindex="2",required)
						fieldset
							input(placeholder="Your Phone Number", type="tel",tabindex="3",required)
						fieldset
							input(placeholder="Type your message here...", tabindex="4", requried)
						fieldset
							button#contact-submit(name="submit",type="submit",data-submit="...Sending")
								| Submit	

	link(rel="stylesheet",href="contact.css")