doctype html
html(ng-app="#{app}")
	head
		title Blog
		link(rel='stylesheet', href='/bootstrap.min.css')
		link(rel='stylesheet', href='/style.css')
		script(src='/jquery.min.js')
		script(src='/angular.min.js')
		script(src='/angular-route.min.js')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			div.container
				div.navbar-header
					button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#bs-navbar-collapse-1")
						block content